<div class="page" id="top">   
    <!-- Home Section -->
    <section class="home-section bg-dark-alfa-50 " data-background=<%= asset_url("full-width-images/landing.jpg")%> style='background-image:url(<%= asset_url("full-width-images/landing.jpg")%>)' id="home">
       <div class="container">            
            <!-- Hero Content -->
            <div class="home-content">
                <div class="home-text" style="    padding: 100px 0px 45px 0px;">
                    
                    <h1 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                       Dashboard
                    </h1>      
                    <div class="local-scroll hidden-xs">
                       <%= link_to "Posted Jobs", jobs_path, :class => "btn btn-mod btn-border-w btn-medium btn-round" %>
                        <span>&nbsp;</span>
                        <%= link_to "Applications", applications_path, :class => "btn btn-mod btn-border-w btn-medium btn-round", :style =>"background: #fff;color: #111;border-color: transparent;" %>
                    </div>               
                                       
                </div>
            </div>
            <!-- End Hero Content -->            
       </div>
    </section>
    <!-- End Home Section -->

    <!-- Section -->
    <section class="small-section" id="multi-page">
        <div class="container relative">            
            <!--<h2 class="section-title font-alt mb-60 mb-sm-30">
                Multi Page Demo
            </h2> -->           
            <div class="row">                
                <div class="mb-40 table-responsive ">
                    <% if @job_applications.blank? %>    
                        <div class="jumbotron align-center">
                            <p>No jobs applications yet. Come back later!</p>
                        </div>
                    
                    
                    <%else%>
                        <table class="table table-striped ">
                            <thead>
                              <tr>
                                <th>Applicant Name</th>
                                <th>Title</th>
                                <!-- <th>Description</th>
                                <th>Salary Type</th>
                                <th>Salary</th> -->
                                <th>Score</th>
                                <th>Applied On</th>
                              </tr>
                            </thead>
                            <tbody>
                            <% @job_applications.each do |job_application| %>
                              <tr>
                                <td><%= link_to job_application.user.name, user_path(job_application.user.id) %></td>
                                <td><%= job_application.job.title %></td>
                                <!-- <td><%= job_application.job.job_description %></td>
                                <td><%= @salary_types[job_application.job.salary_type] %></td>
                                <td>&#x20b9; <%= job_application.job.salary_offered %></td> -->
                                <%result = QuestionnaireResult.where(user_id: job_application.user.id, job_id: job_application.job.id)%>
                                <td><%=
                                    if !result.nil? && !result.first.nil?
                                        "#{result.first.score} of #{job_application.job.questionnaires.length}"
                                    else
                                        "N/A"
                                    end%></td>
                                <td><%= local_time(job_application.created_at, '%b %e, %Y %l:%M%P') %></td>

                              </tr>
                            <% end %>
                            </tbody>
                        </table>
                        <%= will_paginate @job_applications %>
                    <%end%>

                </div>
            </div>       
        </div>
    </section>
    <!-- End Section -->
</div>


