<div class="page" id="top">   
    <!-- Home Section -->
    <section class="home-section bg-dark-alfa-50 " data-background=<%= asset_url("full-width-images/landing.jpg")%> style='background-image:url(<%= asset_url("full-width-images/landing.jpg")%>)' id="home">
       <div class="container">            
            <!-- Hero Content -->
            <div class="home-content">
                <div class="home-text" style="    padding: 100px 0px 45px 0px;">
                    
                    <h1 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                       Edit Job - <%= @job.title %>
                    </h1>                    
                                       
                </div>
            </div>
            <!-- End Hero Content -->            
       </div>
    </section>
    <!-- End Home Section -->

    <!-- Section -->
    <section class="small-section" id="multi-page">
        <div class="container relative">            
         
            <div class="row">  
				<%= render 'form' %>              
            </div>       
        </div>
    </section>
    <!-- End Section -->
</div>

<%= link_to 'Show', @job %> |
<%= link_to 'Back', jobs_path %>
