<div class="page" id="top">   
    <!-- Home Section -->
    <section class="home-section bg-dark-alfa-50 " data-background=<%= asset_url("full-width-images/landing.jpg")%> style='background-image:url(<%= asset_url("full-width-images/landing.jpg")%>)' id="home">
       <div class="container">            
            <!-- Hero Content -->
            <div class="home-content">
                <div class="home-text" style="    padding: 100px 0px 45px 0px;">
                    
                    <h1 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                       Dashboard
                    </h1>      
                    <div class="local-scroll hidden-xs">
                       <%= link_to "Posted Jobs", jobs_path, :class => "btn btn-mod btn-border-w btn-medium btn-round", :style =>"background: #fff;color: #111;border-color: transparent;" %>
                        <span>&nbsp;</span>
                        <%= link_to "Applications", applications_path, :class => "btn btn-mod btn-border-w btn-medium btn-round" %>
                    </div>               
                                       
                </div>
            </div>
            <!-- End Hero Content -->            
       </div>
    </section>
    <!-- End Home Section -->

    <!-- Section -->
    <section class="small-section" id="multi-page" style="padding: 40px 0;">
        <div class="container relative">            
            <!--<h2 class="section-title font-alt mb-60 mb-sm-30">
                Multi Page Demo
            </h2> -->   
            <div class="align-right pt-10 form-group" style="margin-bottom: 20px;">                            
                <%= link_to "Post new Job", new_job_path, :class => "submit_btn btn btn-mod btn-medium btn-round",:id =>"add_verification"%>
            </div>         
            <div class="row">                
                <div class="mb-40 table-responsive ">
                    <% if @jobs.blank? %>    
                        <div class="jumbotron align-center">
                            <p>No jobs have been posted. Click here to <%= link_to "post", new_job_path%> a new job</p>
                        </div>
                    
                    
                    <%else%>
                        <table class="table table-striped ">
                            <thead>
                              <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Salary Type</th>
                                <th>Salary</th>
                                <th>Posted On</th>
                                <th>Questionnaire</th>
                              </tr>
                            </thead>
                            <tbody>
                            <% @jobs.each do |job| %>
                              <tr>
                                <td><%= job.title %></td>
                                <td><%= job.job_description %></td>
                                <td><%= @salary_types[job.salary_type] %></td>
                                <td>&#x20b9; <%= job.salary_offered %></td>
                                <td><%= local_time(job.created_at, '%b %e, %Y %l:%M%P') %></td>
                                <td><a href="<%= questionnaires_path(:job_id => job.id) %>">edit</a>
                                
                                <!-- <td><%= link_to 'Show', job %></td>
                                <td><%= link_to 'Edit', edit_job_path(job) %></td>
                                <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->

                              </tr>
                            <% end %>
                            </tbody>
                        </table>
                        <%= will_paginate @jobs %>
                    <%end%>

                </div>
            </div>       
        </div>
    </section>
    <!-- End Section -->
</div>


