

<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

            <form class="form contact-form" id="contact_form">
              <div class="clearfix">
                <div class="row"> 
                  <div class="col-sm-4 col-sm-offset-4 mb-40">
                    <div class="field" style="margin-bottom: 10px;">
                      <%= f.text_field :name, :class => "input-md round form-control", :placeholder => "Name", :type => "text", :pattern => ".{1,100}", :required => ""  %>
                    </div>
                    <div class="field" style="margin-bottom: 10px;">
                      <%= f.text_field :phone, :class => "input-md round form-control", :placeholder => "Phone", :type => "tel", :pattern => ".{1,100}", :required => ""  %>
                    </div>
                    <div class="field" style="margin-bottom: 10px;">
                      <%= f.text_area :address, :class => "input-md round form-control", :placeholder => "Address", :type => "text", :pattern => ".{1,300}", :required => "", :style => "resize: none; height: 122px;"  %>
                    </div>
                    <div class="field" style="margin-bottom: 10px;">
                      <%= f.text_field :pan, :class => "input-md round form-control", :placeholder => "PAN Number", :type => "text", :pattern => ".{6,10}", :required => ""  %>
                    </div>
                    <hr>
                    <div class="field" style="margin-bottom: 10px;">
                      <%= f.text_field :password, :class => "input-md round form-control", :placeholder => "Password", :type => "password"  %>
                    </div>
                    <div class="field" style="margin-bottom: 10px;">
                      <%= f.text_field :password_confirmation, :class => "input-md round form-control", :placeholder => "Confirm Password", :type => "password" %>
                    </div>


                    <div class="align-right pt-10">
                      <%= submit_tag "SUBMIT", :class => "submit_btn btn btn-mod btn-medium btn-round", :id => "login-btn" %>
                    </div>
                  </div>
                </div>
              </div>
                
              <div class="clearfix">
                <!-- Send Button -->
                
              </div>
            </form>   
            <!-- End Login Form -->
          
<% end %>
