<style>
    .btn-link{
        background-color: transparent !important;
        border: none !important;
        cursor: pointer !important;
        text-decoration: underline !important;
    }
    .table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td{
        border-top: none !important;
    }
</style>
<div class="page" id="top">   
    <!-- Home Section -->
    <section class="home-section bg-dark-alfa-50 " data-background=<%= asset_url("full-width-images/landing.jpg")%> style='background-image:url(<%= asset_url("full-width-images/landing.jpg")%>)' id="home">
       <div class="container">            
            <!-- Hero Content -->
            <div class="home-content">
                <div class="home-text" style="    padding: 100px 0px 45px 0px;">
                    
                    <h1 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                       Edit Questionnaire
                    </h1>                    
                                       
                </div>
            </div>
            <!-- End Hero Content -->            
       </div>
    </section>
    <!-- End Home Section -->

    <!-- Section -->
    <section class="small-section" id="multi-page">
        <div class="container relative">            
            <% flash.each do |message_type, message| %>
                <div class="alert alert-<%= message_type %>"><%= message %></div>
            <% end %>
            <div class="row">                
                <table class="table ">
                  <tbody style="margin-left: 20px;">
                    <tr>
                        <%=form_for Questionnaire.new do |f|%>
                            <th colspan="3">
                                <%= f.text_field :job_id, :style => "display: none;", :value => params["job_id"] %>
                                <%= f.text_field :question , :class => "input-md round form-control", :placeholder => "New Question" %>
                            </th>
                            <th>
                                <%= f.submit "Save", :class => "submit_btn btn btn-mod btn-medium btn-round"%>
                            </th>
                        <%end%>
                    </tr>
                    <tr>
                    <% @questionnaires.each do |questionnaire| %>
                    <table class="table">
                        <%=form_for questionnaire do |f|%>
                        <thead>
                            <tr>
                                <th colspan="3">
                                    <%= f.text_field :id, :style => "display: none;", :value => questionnaire.id %>
                                    <%= f.text_field :job_id, :style => "display: none;", :value => params["job_id"] %>
                                    <%= f.text_field :question , :class => "input-md round form-control", :value => questionnaire.question %>
                                </th>
                                <th>
                                    <%= f.submit "Update", :class => "btn-link"%>
                                    <%= link_to 'Delete', questionnaire, method: :delete, data: { confirm: 'Are you sure?' }, style: "margin-left: 20px;", class: "btn-link" %>
                                </th>
                            </tr>
                        </thead>
                        <%end%>
                        <tbody style="margin-left: 20px;">
                        <% questionnaire.questionnaire_options.each do |questionnaire_option| %>
                            <tr>
                                <%=form_for questionnaire_option do |f|%>
                                    <td>
                                        <%= f.text_field :questionnaire_id, :style => "display: none;", :value => questionnaire.id %>
                                    </td>
                                    <td>
                                        <%= f.text_field :option , :class => "input-md round form-control", :value => questionnaire_option.option %>
                                    </td>
                                    <td>
                                        <%= f.check_box :isRight, :checked => questionnaire_option.isRight %> Correct Answer?
                                    </td>
                                    <td>
                                        <%= f.submit "Update", :class => "btn-link"%>
                                        <%= link_to 'Delete', questionnaire_option, method: :delete, data: { confirm: 'Are you sure?' }, style: "margin-left: 20px;", class: "btn-link" %>
                                    </td>
                                <%end%>
                            </tr>
                        <% end %>
                        <tr>
                        <%=form_for QuestionnaireOption.new do |f|%>
                            <td>
                                <%= f.text_field :questionnaire_id, :style => "display: none;", :value => questionnaire.id %>
                            </td>
                            <td>
                                <%= f.text_field :option , :class => "input-md round form-control", :placeholder => "New option" %>
                            </td>
                            <td>
                                <%= f.check_box :isRight, :checked => false %> Correct Answer?
                            </td>
                            <td>
                                <%= f.submit "Save", :class => "submit_btn btn btn-mod btn-medium btn-round"%>
                            </td>
                        <%end%>
                        </tr>
                        </tbody>
                    </table>
                    <% end %> 
                    </tr>             
                  </tbody>
                </table>
            </div>       
        </div>
    </section>
    <!-- End Section -->
</div>
