<div class="page" id="top">   
    <!-- Home Section -->
    <section class="home-section bg-dark-alfa-50 " data-background=<%= asset_url("full-width-images/landing.jpg")%> style='background-image:url(<%= asset_url("full-width-images/landing.jpg")%>)' id="home">
       <div class="container">            
            <!-- Hero Content -->
            <div class="home-content">
                <div class="home-text" style="    padding: 100px 0px 45px 0px;">
                    
                    <h1 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                       Questionnaire
                    </h1>                    
                                       
                </div>
            </div>
            <!-- End Hero Content -->            
       </div>
    </section>
    <!-- End Home Section -->

    <!-- Section -->
    <section class="small-section" id="multi-page">
        <div class="container relative">            
         
            <div class="row"> 
              <p id="notice"><%= notice %></p>
              <table class="table">
                <!-- <thead>
                  <tr>
                    <th colspan="2">Question</th>
                    <th colspan="3"></th>
                  </tr>
                </thead> -->

                <tbody>
                  <tr>
                    <%=form_for Questionnaire.new do |f|%>
                        <th colspan="3">
                            <%= f.text_field :job_id, :style => "display: none;", :value => params["job_id"] %>
                            <%= f.text_field :question , :class => "input-md round form-control", :placeholder => "New Question" %>
                        </th>
                        <th>
                            <%= f.submit "Save", :class => "submit_btn btn btn-mod btn-medium btn-round"%>
                        </th>
                    <%end%>
                  </tr>
                  <% @questionnaires.each do |questionnaire| %>
                    <table class="table">
                      <thead>
                        <tr>
                          <th width="80%"><%= questionnaire.question %></th>
                          <th><%= link_to 'Edit', edit_questionnaire_path(questionnaire) %></th>
                          <th><%= link_to 'Delete', questionnaire, method: :delete, data: { confirm: 'Are you sure?' } %></th>
                        </tr>
                      </thead>
                      <tbody style="margin-left: 20px;">
                      <% questionnaire.questionnaire_options.each do |questionnaire_option| %>
                        <tr>
                          <td><%= questionnaire_option.option %></td>
                          <td></td>
                          <td><%= questionnaire_option.isRight %></td>
                        </tr>
                      <% end %>
                      </tbody>
                    </table>
                  <% end %>
                </tbody>
              </table>
            </div>       
        </div>
    </section>
    <!-- End Section -->
</div>

<br>

<%= link_to 'New Questionnaire', new_questionnaire_path %>
